body{
    
    margin:auto;
    width: 1920px;
    height: 1080px;
    font-family: georgia;
    line-height: 2;
    background-color: #F0EBEB;
    overflow-x: hidden;
}


/* ---------NAV----------- */

.menu{
    
    background-color: #2E2E2E;
    display: flex;
    margin-bottom: 60px;
    

}

.menu li{
   
    
    
    list-style: none;
    margin-right: 90px;
    

}

nav li a{
    position: absolute;
    text-decoration: none;
    margin: 10px;
    color: white;
    
    
}

nav li a:hover{
    
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    color: white;
    
    
}

nav li img{
    
    width: 50px;
    height: 50px;
    
}




/* ---------About Me----------- */

.cap{
    
    float: left;
    width: 1000px;
    margin-right: 20%;
    
}

h1{
    
    font-size: 50px;
}
img{
    border-radius: 50px;
    width: 300px;
    height: 400px;
    float: left;
    margin: 5%;
    margin-top: 0%;
}

.about {
    margin-top: -30px;
    width: 800px;
    
}

#b1 {
    margin: 20px;
    margin-left: 10px;
    color: red;
    height: 30px;
    border-color: red;
    border-width: 2px;
    border-radius: 10px;
}

#b1:hover {
    background-color: #FA4646;
    cursor: pointer;
    margin: 20px;
    margin-left: 10px;
    color: white;
    height: 30px;
    border-color: red;
    border-width: 2px;
    border-radius: 10px;
}

#b2 {
    margin: 20px;
    margin-left: 70px;
    height: 30px;
    color: white;
    border-color: #FA4646;
    border-width: 2px;
    border-radius: 10px;
    background-color:#F55F55; 
}

#b2:hover {
    background-color:#F25858;
    cursor: pointer;
    color: black;
    margin: 20px;
    margin-left: 70px;
    height: 30px;
    border-color: red;
    border-width: 2px;
    border-radius: 10px;
}





/* ------------Contacte Me------------- */

.lateral{
    
    display: table-row;
    
}

.contact{
    
    margin-top:80px;
    
}
h3{
   
    font-size:20px;
}

ul li{
    
    position: relative;
    display:flex;
    margin: 30px;
    list-style: none;
    
}

ul li a{
    position: absolute;
    margin-left: 80px;
    font-size: 16px;
    text-decoration: none;
}
ul li a:hover{
    
    font-size: 18px;
    text-decoration: none;
    cursor:pointer;
}

#avio{
    
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

#telefon{
    
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

#insta{
    
    margin-right: 30px;
    width: 50px;
    height: 50px;
}



/*----------------SKILLS------------*/


.skills{
    margin-left: 5%;
    margin-top: 200px;
    width: 150%;
}
.php{
    
    margin-top: 10%;
    margin-left: 15%;
    height: 20px;
    border: 1px solid #FA4646;
    border-radius: 14px;
    margin-bottom: 15px;
    
}

.php > div{
    
    font-weight:bold;
    text-align: center;
    height: 18px;
    color: white;
    font-size: 12px;
    background: #FA4646;
    white-space: nowrap;
    padding: 1px 20px;
    border-radius: 15px;
    
}

.html{
    
    margin-left: 15%;
    height: 20px;
    border: 1px solid #FA4646;
    border-radius: 14px;
    margin-bottom: 15px;
}

.html > div{
    
    font-weight:bold;
    text-align: center;
    height: 18px;
    color: white;
    font-size: 12px;
    background: #FA4646;
    white-space: nowrap;
    padding: 1px 20px;
    border-radius: 15px;
    
}


.javascript{
    margin-left: 15%;
    height: 20px;
    border: 1px solid #FA4646;
    border-radius: 14px;
    margin-bottom: 15px;
}

.javascript > div{
    
    font-weight:bold;
    text-align: center;
    height: 18px;
    color: white;
    font-size: 12px;
    background: #FA4646;
    white-space: nowrap;
    padding: 1px 20px;
    border-radius: 15px;
    
}



.java{
    margin-left: 15%;
    height: 20px;
    border: 1px solid #FA4646;
    border-radius: 14px;
    margin-bottom: 15px;
}

.java > div{
    
    font-weight:bold;
    text-align: center;
    height: 18px;
    color: white;
    font-size: 12px;
    background: #FA4646;
    white-space: nowrap;
    padding: 1px 20px;
    border-radius: 15px;
    
}


.c{
    margin-left: 15%;
    height: 20px;
    border: 1px solid #FA4646;
    border-radius: 14px;
    margin-bottom: 15px;
}

.c > div{
    
    font-weight:bold;
    text-align: center;
    height: 18px;
    color: white;
    font-size: 12px;
    background: #FA4646;
    white-space: nowrap;
    padding: 1px 20px;
    border-radius: 15px;
    
}


.cplus{
    margin-left: 15%;
    height: 20px;
    border: 1px solid #FA4646;
    border-radius: 14px;
    margin-bottom: 15px;
}

.cplus > div{
    
    font-weight:bold;
    text-align: center;
    height: 18px;
    color: white;
    font-size: 12px;
    background: #FA4646;
    white-space: nowrap;
    padding: 1px;
    border-radius: 15px;
    
}





/*-----------SpaceBar-----------*/

.barra{
    
    margin-top: -15%;
    border: solid 2px #CCCBCA;
    background-color: #CCCBCA;
    width: 50%;
    margin-left: 5%;
    border-radius: 2px; 
    opacity: 0.35;
    
}


#educ{
    
    margin-top: 2%;
    margin-left: 4%;
}
.education{
    
    
    margin-left: 5%;
    margin-bottom: 5%;
    width: 1000px;
    
}

#exp{
    
    margin-top: 2%;
    margin-left: 4%;
}

.experience{
    
    margin-left: 5%;
    width: 1000px;
    
}

.contact{
    
    margin-bottom: 100px;
}
